torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
timm==0.9.12
facenet-pytorch==2.5.3
fer==22.5.1
openai-whisper
nltk==3.8.1
vaderSentiment==3.3.2
grad-cam
streamlit
kaggle
opencv-python
Pillow
moviepy
librosa
numpy
pandas
matplotlib
seaborn
scikit-learn
tqdm